@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

body{
  background-color:rgb(232, 225, 225);
}

.lpBody {
  overflow: hidden;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: rgb(255, 251, 251);
  z-index: 1;
}

.navBrand {
  font-family: "Agbalumo";
  font-size: 35px;
  margin-bottom: 10px;
  color: rgb(132,37,30);
}

.navBrand:hover {
  color: rgb(132,37,30);
}

/*
.home{
  margin-left: 40px;
  margin-right: 40px;
}

.recipes{
  margin-right: 40px;
}
*/

.home{
  margin-right: 2vw;
}

.login {
  margin-right: 2vw;
}

.recipes {
  margin-right: 2vw;
}

.likes {
  margin-right: 2vw;
}

.nav-link{
  font-family: "Roboto";
  font-weight: 500;
}

.lp{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  text-align: center;
}

.lpText {
  font-family: "Agbalumo";
  font-weight: 700;
  font-size: 5.5vw;
  text-align: center;
  color: rgb(132,37,30);
}

.bottomText{
  font-family: "Roboto";
  font-weight: 500;
  font-size: 23px;
  text-align: center;
  color: rgb(57, 57, 57);
}

/*
.gsWrapper {
  align-items: center;
  justify-content: center;
  display:flex;
  text-align: center;
}
*/

.gsButton {
  font-family: "Agbalumo";
  font-weight: 500;
  font-size: 1.5vw;
  width: 150%;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgb(237, 154, 65);
  border: none;
  cursor: pointer;
  padding: 10px 10px 10px 10px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
}

.dish1 {
  position: absolute;
  width: 500px;
  left: 0vw;
  top: 0vh;
  height: auto;
  z-index: -1;
}

/*
.dish2 {
  position: absolute;
  width: 650px;
  left: 10px;
  top: 550px;
  height: auto;
  z-index: -1;
}

.dish3 {
  position: absolute;
  width: 550px;
  height: auto;
  left: 1300px;
  top: -30px;
  z-index: -1;
}
*/