@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body{
  background-color: #dd4444;
}

.ttContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.titleText {
  font-family: 'VT323', monospace;
  font-size: 120px;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
      1px 6px 1px #919191,
      1px 7px 1px #919191,
      1px 8px 1px #919191,
      1px 9px 1px #919191,
      1px 10px 1px #919191,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
}

.lrContainer {
  position: absolute;
  top: 15px;
  right: 15px;
}

.lrButton {
  text-decoration: none;
  font-family: 'VT323', monospace;
  font-size: 40px;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #919191,
      1px 2px 1px #919191,
      1px 3px 1px #919191,
      1px 4px 1px #919191,
      1px 5px 1px #919191,
  1px 10px 6px rgba(16,16,16,0.4),
  1px 14px 10px rgba(16,16,16,0.2),
  1px 18px 35px rgba(16,16,16,0.2),
  1px 22px 60px rgba(16,16,16,0.4);
}

.lrContainer:hover {
  position: absolute;
  top: 16px;
  right: 15px;
}

.lrContainer:active {
  position: absolute;
  top: 17px;
  right: 15px;
}